altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
comtypes==1.2.0
customtkinter==5.2.1
darkdetect==0.8.0
idna==3.4
packaging==23.2
pefile==2023.2.7
Pillow==10.0.1
PyAudio==0.2.13
pygame==2.5.2
pypiwin32==223
pyttsx3==2.90
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
SpeechRecognition==3.10.0
urllib3==2.0.6
